name: Telco Churn CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
       
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest requests

      - name: Code Analysis (Linting) [Part 1 Task 3]
        
        run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Unit Testing [Part 1 Task 2]
        
        run: python -m pytest tests/test_unit.py -v

      - name: Component Testing [Part 2 Task 1]
        run: python -m pytest tests/test_components.py -v

      - name: Build & Package (Docker) [Part 2 Task 2]
        run: docker build -t telco-churn-api .

      - name: Smoke Test [Part 2 Task 3]
       
        run: |
          docker run -d -p 8000:8000 --name prediction-service telco-churn-api
          sleep 15
          python -m pytest tests/test_smoke.py -v
